{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title> Prudhvi - Resume </title>

    <link rel="icon" href="{% static 'website/img/core-img/favicon.png' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'website/style.css' %}">

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <div class="loader"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Navbar Area -->
        <div class="vcard-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="vcardNav">

                        <a href="home.html" class="nav-brand"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="vcardMenu">
                                    <li class="active"><a href="#about">About</a></li>
                                    <li><a href="#skills">Skills</a></li>
                                    <li><a href="#projects">Projects</a></li>
                                    <li><a href="#testimonials">Testimonials</a></li>
                                    <li><a href="#education">Education</a></li>
                                </ul>

                                <!-- Contact Button -->
                               
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->   
    <div class="hero-area bg-img clearfix" style="background-image: url({% static 'website/img/bg-img/bg1.jpg' %});" id="about">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-sm-10 col-md-8">
                    <!-- Hero Content -->
                    <div class="hero-content">    
                        <h5 class="wow fadeInUp" data-wow-delay="100ms">Hello I’m</h5>
                        <h2 class="wow fadeInUp" data-wow-delay="300ms">Prudhvi</h2>
                        <h3 class="wow fadeInUp" data-wow-delay="500ms">Cloud Infrastructure Architect</h3>
                        <!-- Contact Info -->
                        <div class="contact-info mt-30 wow fadeInUp" data-wow-delay="700ms">
                            <a href="https://mail.google.com/mail/u/1/#inbox?compose=new"><img src="{% static 'website/img/core-img/envelope-small.png' %}" alt=""> prudhvi6e@gmail.com </a>
                            <a href="#"><img src="{% static 'website/img/core-img/phone-call-small.png' %}" alt=""> +91 9177706446 </a>
                            <a href="https://prudhvi6e.herokuapp.com/"><img src="{% static 'website/img/core-img/monitor-small.png' %}" alt=""> prudhvi6e.in </a>
                        </div>
                        <!-- Social Info -->
                        <div class="social-info mt-30 wow fadeInUp" data-wow-delay="100ms">
                            <a href="https://github.com/prudhvi6e" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/prudhvi6e/" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/prudhvi-chowdary-764a0a184/" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="https://twitter.com/prudhvi6e" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Services Area Start ##### -->
    <section class="services-area section-padding-100-0 clearfix" id="skills">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading white text-center wow fadeInUp" data-wow-delay="300ms">
                        <div class="line mx-auto"></div>
                        <h2>Skills</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <div class="service-title d-flex align-items-end">
                            <div class="icon">
                                <img src="{% static 'website/img/core-img/1.jpg' %}" alt="">
                            </div>
                          
                        </div>
                        <p>EC2, Autoscaling, ELB, SNS,  IAM, Security, RDS, S3, Amazon VPC, Route53, CloudWatch, Cloud Formation, CloudTrail.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <div class="service-title d-flex align-items-end">
                            <div class="icon">
                                <img src="{% static 'website/img/core-img/2.jpg' %}" alt="">
                            </div>
                        </div>
                        <p>knowledge of creating chatbots & most of my patterns are designed in user's perspective, which helps to solve user releated queries without the need for human intervention like call assist.</p>
                    </div>
                </div>

                <!-- Single Service Area -->   
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="service-title d-flex align-items-end">
                            <div class="icon">
                                <img src="{% static 'website/img/core-img/3.png' %}" alt="">
                            </div> 
                        </div>
                        <p>Develop and maintain orchestration automated workflows; work with team members supporting their development and operation of workflows.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <div class="service-title d-flex align-items-end">
                            <div class="icon">
                                <img src="{% static 'website/img/core-img/4.png' %}" alt="">
                            </div>
                        </div>
                        <p>Knowledge of web designing (HTML, CSS, Bootstrap & Django) understanding of OS & browser distinctions & basic website troubleshooting.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <div class="service-title d-flex align-items-end">
                            <div class="icon">
                                <img src="{% static 'website/img/core-img/5.png' %}" alt="">
                            </div>
                        </div>
                        <p> I can do create, version control, code review, pull requests, commit and push &lt;&#47;&gt; using the Gitbash terminal, which is very easy to use and manage. Most of the commands used in Gitbash terminal are Unix-based commands which works very well with the windows machine also.</p>
                    </div>
                </div>

                <!-- Single Service Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="800ms">
                        <div class="service-title d-flex align-items-end">
                            <div class="icon">
                                  <img src="{% static 'website/img/core-img/6.png' %}" alt="">
                            </div>
                        </div>
                        <p>Knowledge of networking concepts like DNS, TCP/IP, and firewalls.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Services Area End ##### -->

    <!-- ##### About Me Area Start ##### -->
<section class="about-me-area section-padding-100" id="projects">
        <div class="container">
            <div class="row align-items-end">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                        <div class="line mx-auto"></div>
                        <h2>&nbsp;&nbsp;Projects</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
<h7> <b>Environment:</b> Web Application<br>
        <b>Technologies:</b> HTML, CSS, Bootstrap, Django and Python<br>
        <b>&bull;</b> I have been part of development team in a startup called <b>"Get your needs"</b> which will officially launch by 2021 January.<br>
        <b>&bull;</b> Get your needs is an E-commerce website that is used to deliver B2B & B2C operations efficiently, with real insights into active trends. Our goal is to reduce poverty & make India grow economically rich in each & every aspect.<br>
        <b>Contract oversight</b> <br>
        <b>&bull;</b> Responsible for all facets of contract development, including analysis, negotiation, and closeout.<br>
        <b>Business development</b> <br>
        <b>&bull;</b> Identified business requirements, evaluated proposals, and ensured all modifications are addressed to support new and existing business.<br>
        <b>Market research and analysis</b> <br>
        <b>&bull;</b> Performed comprehensive market research and analysis in response to evolving market conditions and proactively to support new business areas'<br>
        <b>Project management</b> <br>
        <b>&bull;</b> Managed all contract closeout items throughout the entire contract life cycle.<br>
        <br>
        <br>
     <b>Environment:</b> AWS cloud <br>
        <b>Technologies:</b> Hands-on expirence on services such as EC2, Autoscaling, ELB, SNS,  IAM, Security, RDS, S3, Amazon VPC, Route53, CloudWatch, Cloud Formation, CloudTrail.<br> 
        <b>AWS Setup & Architecture</b> <br>
        <b>&bull;</b> Created the architecture and the Cloud Formation template to facilitate the deployment and know how to configure, Server & Storage components.<br>
        <b>User Authentication & Access</b> <br>
        <b>&bull;</b> Employed IAM to create & control AWS users & groups access to AWS services and resources. <br>
        <b>Cloud Management & Troubleshooting</b> <br>
        <b>&bull;</b> Deployed the Elastic Load Balancer & configured HTTPS certificates & managed scalable & highly available systems on AWS. <br>
        <b>&bull;</b> Set up a VPC environment & designed an effective backup strategy depending upon client requirements. <br> 
        <b>&bull;</b> Complied with the established software development life cycle methodology to deliver effective solutions. <br> 
        <br>
        <br>
     <b>Environment:</b> Web Application<br>
        <b>Technologies:</b> HTML, CSS, Bootstrap, Django and Python<br>
        <b>&bull;</b> Worked as a freelancer for a while on web designing projects.<br>
        <b>&bull;</b> Experience in aligning metrics to business needs so that responses are effective at maintaining business continuity. <br>
        <b>&bull;</b> Source Control methodology and experience implementing.<br>
        <b>&bull;</b> Progressive experience architecting, design, and engineering global enterprise IT solutions.<br>
        <b>&bull;</b> Understanding of OS and browser distinctions and basic website troubleshooting and use of browser developer tools. <br>
        <br>
        <br>
</h7>

    <!-- ##### About Me Area End ##### -->

    <!-- ##### Testimonials Area Start ##### -->
    <section class="testimonials-area section-padding-100" id="testimonials">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                        <div class="line mx-auto"></div>
                        <h2>Client’s testimonials</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                    <!-- Testimonial Slides -->
                    <div class="testimonial-slides owl-carousel wow fadeInUp" data-wow-delay="500ms">
                        
                        <!-- Single Testimonial Area -->
                        <div class="single-testimonial">
                            <h5>Big plus for our startup!</h5>
                            <p>The level of professionalism is extremly high from this person. He is honest and realistic in what can be achieved and offers good guidance throughout our project. I felt genuinely listened to and he really thought about the project and the outcomes. His communication skills are excellent and he is always available to discuss the project. You'll not regrate hiring him, even with complex projects. I'll definitely be using prudhvi again, Great job, keep up the great work! </p>
                            <div class="testimonial-author-info mt-50">
                                <img src="{% static 'website/img/bg-img/tes.jpg' %}" alt="">
                                <h6>Nitesh chowdary, <span>Customer</span></h6>
                            </div>
                        </div>

                        <!-- Single Testimonial Area -->
                        <div class="single-testimonial">
                            <h5>5* Design &amp; Functionality</h5>
                            <p>It's really great to work with prudhvi.<br>His attention to detail and extra thought put into the work is excellent.</p>
                            <div class="testimonial-author-info mt-50">
                                <img src="{% static 'website/img/bg-img/tesss.jpg' %}" alt="">
                                <h6>Pravardhani Bagam, <span>Customer</span></h6>
                            </div>
                        </div>

                        <!-- Single Testimonial Area -->
                        <div class="single-testimonial">
                            <h5>I really love it</h5>
                            <p>Best web designer! <br>He made my 5$ website looks like a 50$ website and made my Instagram looks even better like a celebrity account.</p>
                            <div class="testimonial-author-info mt-50">
                                <img src="{% static 'website/img/bg-img/tess.jpg' %}" alt="">
                                <h6>Poojitha, <span>Customer</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Testimonials Area End ##### -->   


    <!-- Work Experience Area -->
<section class="education-area section-padding-100" id="education">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                        <div class="line mx-auto"></div>
                        <h2>Education</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                <div class="education-timeline-wrapper">
                <!-- Timeline Row -->
                <div class="timeline-row"></div>

                                        <!-- Single Work Education -->
                                        <div class="single-education-timeline d-flex active odd-item">
                                            <div class="education-icon mr-15">
                                                <img src="{% static 'website/img/core-img/edu1.jpg' %}" alt="">
                                            </div>
                                            <div class="education-content">
                                                <h5>2017 - September 2020</h5>
                                                <h4>VARDHAMAN COLLEGE OF ENGINEERING</h4>
                                                <h6>HYDERABAD</h6>
                                                <p>I have recently graduated from Vardhaman college of engineering, majoring in CSE with a CGPA of 6.75. I have taken part in different workshops and events in and out of college.</p>
                                            </div> 
                                        </div>

                                        <!-- Single Work Education -->
                                        <div class="single-education-timeline d-flex even-item">
                                            <div class="education-icon mr-15">
                                                <img src="{% static 'website/img/core-img/edu2.png' %}" alt="">
                                            </div>
                                            <div class="education-content">
                                                <h5>2014 - 2017</h5>
                                                <h4>ANUBOSE INSTITUTE OF TECHNOLOGY</h4>
                                                <h6>PALWANCHA</h6>
                                                <p>I completed my diploma in Mining from Anubose Institute of Technology with an aggregate of 76.5% passed out in 2017. I have taken part in different workshops in and out of college.</p>
                                            </div>
                                        </div>

                                        <!-- Single Work Education -->
                                        <div class="single-education-timeline d-flex odd-item">
                                            <div class="education-icon mr-15">
                                                <img src="{% static 'website/img/core-img/edu3.png' %}" alt="">
                                            </div>
                                            <div class="education-content">
                                                <h5>March 2013</h5>
                                                <h4>TRIVENI SCHOOL</h4>
                                                <h6>KOTHAGUDEM </h6>
                                                <p>I completed my schooling from Triveni school, Kothagudem with a grade point of 5.6 . I took part in various school activities especially sports as I am more of an outdoor person.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

            <!-- See More Button -->
            <div class="row">
                <div class="col-12">
                    <div class="see-more mt-70 text-center wow fadeInUp" data-wow-delay="100ms">
                        <a href="https://drive.google.com/file/d/143t9dJn2dYs0jKHreQJpcemF0nouTUAj/view?usp=sharing" class="btn vcard-btn" download>Download Resume</a>
                    </div>
                </div>
            </div>



    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'website/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'website/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'website/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'website/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'website/js/active.js' %}"></script>

</body>
</html>
{% load static %}